# Backend
SUPERSET_BASE_URL=http://localhost:8088
SUPERSET_API_KEY=your_superset_api_key_here
PORT=8081

# Frontend (Next.js)
NEXT_PUBLIC_SUPERSET_DOMAIN=http://localhost:8088
NEXT_PUBLIC_GUEST_TOKEN_ENDPOINT=http://localhost:8081/superset/guest-token
NEXT_PUBLIC_DEMO_DASHBOARD_ID=1fe3a335-46b9-4b44-b1e0-dd32f8b117c7

# Allowed domains in Superset for embedding:
# http://localhost:3000
